
.frets {
  border: 1px solid black;

  min-width: 10px;
}



.wrapper {
  display: grid;
  background: #9fc0d1;
  justify-items: center;
}
.frets:nth-child(1) {
  border-right: 3px solid black;
  border-left: 2px solid black;
}
.frets:last-child {
  border-right: 3px solid black;
}

.guitarContainer {
  justify-content: center;
  text-align: center;
  width: 90vw;
}
.fretboardSides{
  padding: 0.5px;
  background:black;
}
.fretboardContainer {
  background:#c8edff;
  font-size: 12px;
  /* background-image: url(./maple.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.hide {
  background: #eefdff;
  color: #607D8B
}

.hide:hover {
  cursor: pointer;
}

.blankNote {
  background: #CFD8DC
}


.first:hover, .second:hover,.third:hover,.fourth:hover,.fifth:hover,.sixth:hover,.seventh:hover,.eighth:hover {
  cursor: pointer;
}


.first {
  background:#ff5722;
}

.third {
  background: #ff9800;
} 

.fifth {
  background:#FFC107;
} 

.seventh {
  background: #ffeb3b;
}

.second {
  background: #1369aecf;
  
} 
.fourth{
  background: #3f00aca1;
  
}
.sixth{
  background: #334ee9ba;
  
}
.eighth{
  background: #873395ba;
  
}
.info {
  min-width: 10px;
}

.formulaContainer {
  display: grid;
  font-size:12px
}

.formulaContainer > .info:nth-child(odd) {
  background: #607D8B;
}
.formulaContainer > .info:nth-child(even) {

  background: #8eb7be;
}


.formulaContainer > .info {
  border: 1px solid black;
}

.chordContainer {
  font-size: 11px;
  background: #CFD8DC;
  display: grid;
  font-weight: bold;
  max-height: 30px;
}

.chordContainer > .info {
  text-emphasis: bold;
  border: 1px solid black;
}

.chordContainer .info:nth-child(1) {
  background: #8eb7be;
}

.stringContainer {
  text-align: center;
  display: grid;
  /* grid-template-columns: repeat(25, 1fr); */
  grid-template-columns:  0.5fr 1.403fr 1.324fr 1.250fr 1.180fr 1.114fr 1.051fr 0.992fr 0.936fr 0.884fr 0.834fr 0.787fr 0.743fr 0.702fr 0.662fr 0.625fr 0.590fr 0.557fr 0.526fr 0.496fr 0.468fr 0.442fr 0.417fr 0.394fr 0.372fr
}

.blankNote .frets{
  top:50%;
  background: black;
  height: 1px;
}

.numberContainer {
  text-align: center;
  display: grid;
  /* grid-template-columns: repeat(25, 1fr); */
  grid-template-columns:  0.5fr 1.403fr 1.324fr 1.250fr 1.180fr 1.114fr 1.051fr 0.992fr 0.936fr 0.884fr 0.834fr 0.787fr 0.743fr 0.702fr 0.662fr 0.625fr 0.590fr 0.557fr 0.526fr 0.496fr 0.468fr 0.442fr 0.417fr 0.394fr 0.372fr;
  font-weight: bold;
}

.App {
  background: #CFD8DC;
  align-items: center;
  font-size: 10px;
  color: black;

}

button {
    border: 1px solid blue;
    border-radius: 4px;
    background-color: #fca421;
    outline: 0;
}

select {
  border: 1px solid blue;
  border-radius: 4px;
  background-color: #FF9800;
}

button:hover {
  border: 1px solid blue;
  cursor: pointer;
  border-radius: 4px;
  background-color:#ffb74d;
}

#innerDiv {
  width: 99%;
}

footer {
  position: inherit;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  text-align: center;
  background-color: #78909C;
}

hr {
  margin: 0;
  border: 0;
  padding: 5px;
  background-color: #78909C;
}


h1 {
  font-size: 20px
}

h2 {
  font-size: 16px;
}

h3 {
  margin-bottom: 0;
  text-decoration: underline;
}
h4 {
  margin: 0;
}

.topnav {
  position: fixed;
  top: 0;
  margin:0;
  overflow: hidden;
  width: 100%; 
}

.headerBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:100%;
  background-color: #78909C;
  justify-content: center;
}

.banner {
  grid-column: 2;
  justify-self: center;
  width: 300px; 
  height: 50px;
}

.keyBox {
  padding: 0px 10vw 0px 10vw;
  background-color: #79909d;
  /* font-size: 14px; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
}

.scaleBox {
  padding: 0px 5vw 0px 5vw;
  background-color: #79909d;
  /* font-size: 14px; */
  display: grid;
  /* height: 100px; */
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}

.menuBox {
  padding: 0px 20px 0px 20px;
  background-color: #607D8B;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  min-width: 0;
}

.navhead {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.navhead div {
  width: 20%;
  color: #263238;
  font-size: 20px;
}

.navhead > h1 {
  width: 80%;
}

@media (max-width: 767px) {
  select {
    font-size: 10px;
  }
  button {
    font-size: 10px;
  }
  .menuBox {
    font-size: 10px;
  }

  table {
    font-size: 10px;
  }

  h1 {
    font-size: 20px;
  }

  .fretboardContainer {
    font-size: 10px;
  }
}